* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: rgb(178, 255, 114);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
  width: 300px;
  height: 150px;
  border: 5px solid green;
  padding: 5px;
  margin: 18px auto;
}
img {
  width: 100%;
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  text-align: justify;
}
span {
  text-align: right;
  display: block;
  padding: 10px
}
button {
  display: inline-block;
  margin-top: 10px;
  pad: 10px 20px;
  border-radius: 5px;
  border: 1px solid#167958;
  background-color: #167958;
  color: yellow;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: green;
  border: 1px solid yellow;
}